table {
    width: 100%;
    border: 1px solid red;
}

table tr.header td {
    text-align: center;
    width: 25%;
    font-weight: bold;
}

td {
    border: 1px solid blue;
    text-align: center;
}

img {
    width: 50%;
    height: auto;
}