table {
    display: block;
    width: 90%;
    margin: 0 auto;
    border-collapse: collapse;
}

table tr.header td {
    width: 20%;
    height: 70px;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-size: 25px;
    background-color: #343434;
    color: white;
}

td {
    width: 20%;
    height: 180px;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    border-bottom: 2px solid black;
}

tr.sombre td {
    background-color: #343434;
    color: white;

}

img {
    width: 100%;
    height: 20vh;
}

form {
    width: 90%;
    margin: 0 auto;
}

form input {
    width: 75%;
    font-size: 20px;
    font-family: "Roboto", sans-serif;
    height: 40px;
    padding: 5px;
    margin-left: 50%;
    transform: translateX(-50%);
    border-left: none;
    border-top: none;
    border-right: none; 
    border-bottom: 3px solid black;
    outline: none;
}

form table tr td {
    border-bottom: none;
}

input.submit {
    width: 35%;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

input.submit:hover {
    background-color: black;
    color: white;
}